* {
  margin: 0;
  padding: 0;
}

:root {
  --main-font: "Poppins", sans-serif;
  --main-color: rgb(255, 255, 255);
}

body,
html {
  max-width: 1440px;
  margin: auto;
  font-family: var(--main-font);
  background-color: var(--main-color);
}

a {
  text-decoration: none;
  color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: 0.2s all;
}
a:hover {
  color: rgba(0, 0, 0, 0.415);
  cursor: pointer;
}

li {
  list-style: none;
}

ul,
nav,
.imgHome {
  display: flex;
}

ul {
  gap: 2rem;
}

nav {
  justify-content: flex-end;
  padding: 2rem;
  font-style: normal;
  text-transform: uppercase;
}

.imgHome {
  justify-content: center;
  align-items: center;
}

.imgHome img {
  width: 70vw;
}
.shouldCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: %; */
}
h1 {
  display: flex;
  font-size: 30px;
  font-family: "Nanum Gothic", sans-serif;
  width: 10vw;
  justify-content: center;
  align-items: center;
  transform: translate(20%, -70%);
  border: 3px solid white;
  background-color: white;
}
.iconhead img {
  width: 2vw;
  height: 1.5vw;
  justify-content: flex-end;
  margin: -6px;
  /* padding: 1rem; */
}
.item_position {
  word-spacing: 8px;
}
.dots {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  word-spacing: 3rem;
}
.hr::before {
  display: flex;
  content: "";
  /* display: block; */
  border-width: 10px 0 0 0;
  border-style: dotted;
  width: 90vw;
  /* position: absolute; */
  margin: auto;
}

*::before,
::after {
  border-width: 1px;
  border-style: solid;
  border-color: #e5e7eb;
  /* box-sizing: border-box; */
}

/* next page ++++++++++++++++++++++++*/
.menu-container {
  position: relative;
}
.ov {
  max-width: 1440px;
  /* margin: auto; */
  max-height: 50vw;

  /* position: relative; */
}

.bakerymenu {
  width: 100vw;
  height: 60vw;
  margin-bottom: 100px;
  opacity: 100%;
  /* margin-top: 40px; */
  /* object-fit: cover; */
}
.bakerymenu {
  background-image: url("nadya-spetnitskaya-tOYiQxF9-Ys-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(27, 25, 25, 0.107));
}
.bakerymenu {
  /* margin-bottom: 400px; */
}

.overtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Edu TAS Beginner", cursive;

  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 3.5rem;
  box-sizing: border-box;
}
.overtext {
  background-color: rgba(0, 0, 0, 0.19);
  z-index: 999;
  zoom: 1;
  width: 100%;
  height: 100%;
}
.textover {
  position: absolute;
  top: 50%;
  left: 40%;
}
/* https://cdn.imweb.me/thumbnail/20240319/f793c60ee7c5d.jpg
src="https://cdn.imweb.me/thumbnail/20240319/f793c60ee7c5d.jpg"
https://cdn.imweb.me/thumbnail/20220703/ac9ebb5c3c13d.jpg
https://cdn.imweb.me/thumbnail/20230315/a7a829416b4f1.jpg
src="https://cdn.imweb.me/thumbnail/20230315/a7a829416b4f1.jpg"
src="https://cdn.imweb.me/thumbnail/20230318/2047c3ee1b9a3.jpg"
src="https://cdn.imweb.me/thumbnail/20210205/23fd2949e8d1c.jpg"
src="https://cdn.imweb.me/thumbnail/20230423/ec4e04d1ba2f9.jpg"

/* css grid*/

.imglist {
  display: grid;
  justify-content: center;
  row-gap: 7rem;
  column-gap: 10px;
  grid-template-columns: auto auto auto;
}
.image_item img {
  background-color: rgba(255, 255, 255, 0.8);
  width: 30vw;
  height: 30vw;
}
.image_item_6 .image_item_4 {
  height: 20vw;
}
.prices {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: 3px solid black; */
  width: 140px;
  font-style: normal;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 14px;
}
.align_item {
  display: flex;
  justify-content: center;
  position: relative;
}
.tekpe {
  position: absolute;
  top: 150%;
  font-weight: bold;
  font-size: 20px;
}
.btn {
  font-size: 11px;
  text-size-adjust: 5px;
  text-align: center;
  justify-content: center;
  padding: 7px;
  width: 45px;
  height: 24px;
  background-color: #ffffff;
  border: solid 1px violet;
  margin-left: 3px;
  cursor: pointer;
}
.btnn {
  font-size: 10px;
  text-size-adjust: 5px;
  padding: 7px;
  width: 70px;
  height: 25px;
  background-color: #ffffff;
  border: solid 2px #666666;
  margin-left: 1.5px;
  background-color: #666666;
  color: #ffffff;
  cursor: pointer;
}
.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
  margin-bottom: 30px;
  font-family: "Farro", sans-serif;
  font-size: 40px;
  font-style: normal;
  color: #363636;
  position: relative;
  text-transform: uppercase;
}
.h2 {
  position: absolute;
  left: 13%;
  color: #715d5d;
  margin-top: 20px;
  width: 88%;
  font-size: 13px;
  font-family: "Farro", sans-serif;
  text-transform: uppercase;
}

.scroll_box {
  display: flex;
  justify-content: center;
  /* align-items: center;  */
  overflow: scroll;
  scroll-timeline: 3s;
  width: 60vw;
  margin-top: 10rem;
  margin-left: 1rem;
  /* border-left: 6rem solid black; */
  cursor: pointer;
  /* overflow: hidden; */
}
.scroll_Pic img {
  width: 17vw;
  height: 13vw;
  justify-content: center;
  padding: 0.2rem;
}
.right_scroll {
  /* display: block;
  box-sizing: border-box;
  width: 1vw; */
}
.left_scroll {
}
